# Simulation executables
sim/fp_adder_tb
sim/fp_network_tb

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
venv/

# Magic source/build
magic/

# OpenROAD temporary files
Physical_Design/tmp/
Physical_Design/logs/
# Simulation executables
sim/fp_adder_tb
sim/fp_network_tb

# Large OpenROAD physical-design artifacts
physical_design/results/*.odb
physical_design/results/*.def
physical_design/results/*.gds
physical_design/gds/*.gds
